/* 
   The Minimum Unit Here is .25rem ----> (4px), 
   So When I Say p/m-1 --> padding/margin: .25rem; 
   Same Concept Applies for The Rest of The Multiples of .25rem(4px).
*/

/* ---------- Padding Classes ---------- */

.important-p-0 {
    padding: 0 !important;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: .25rem;
}

.p-2 {
    padding: calc(.25rem*2);
}

.p-3 {
    padding: calc(.25rem*3);
}

.p-4 {
    padding: calc(.25rem*4);
}

.p-5 {
    padding: calc(.25rem*5);
}

.p-6 {
    padding: calc(.25rem*6);
}

.p-7 {
    padding: calc(.25rem*7);
}

.p-8 {
    padding: calc(.25rem*8);
}

.p-9 {
    padding: calc(.25rem*9);
}

.p-10 {
    padding: calc(.25rem*10);
}

.p-11 {
    padding: calc(.25rem*11);
}

.p-12 {
    padding: calc(.25rem*12);
}

/* Padding Top */

.important-pt-0 {
    padding-top: 0 !important;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: calc(.25rem*1);
}

.pt-2 {
    padding-top: calc(.25rem*2);
}

.pt-3 {
    padding-top: calc(.25rem*3);
}

.pt-4 {
    padding-top: calc(.25rem*4);
}

.pt-5 {
    padding-top: calc(.25rem*5);
}

.pt-6 {
    padding-top: calc(.25rem*6);
}

.pt-7 {
    padding-top: calc(.25rem*7);
}

.pt-8 {
    padding-top: calc(.25rem*8);
}

.pt-9 {
    padding-top: calc(.25rem*9);
}

.pt-10 {
    padding-top: calc(.25rem*10);
}

.pt-11 {
    padding-top: calc(.25rem*11);
}

.pt-12 {
    padding-top: calc(.25rem*12);
}

.pt-16 {
    padding-top: calc(.25rem*16);
}

.pt-30 {
    padding-top: calc(.25rem*30);
}

.pt-36 {
    padding-top: calc(.25rem*36);
}

.pt-44 {
    padding-top: calc(.25rem*44);
}

/* Padding Right */

.important-pr-0 {
    padding-right: 0 !important;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: calc(.25rem*1);
}

.pr-2 {
    padding-right: calc(.25rem*2);
}

.pr-3 {
    padding-right: calc(.25rem*3);
}

.pr-4 {
    padding-right: calc(.25rem*4);
}

.pr-5 {
    padding-right: calc(.25rem*5);
}

.pr-6 {
    padding-right: calc(.25rem*6);
}

.pr-7 {
    padding-right: calc(.25rem*7);
}

.pr-8 {
    padding-right: calc(.25rem*8);
}

.pr-9 {
    padding-right: calc(.25rem*9);
}

.pr-10 {
    padding-right: calc(.25rem*10);
}

.pr-11 {
    padding-right: calc(.25rem*11);
}

.pr-12 {
    padding-right: calc(.25rem*12);
}

/* Padding Bottom */

.important-pb-0 {
    padding-bottom: 0 !important;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: calc(.15rem*1);
}

.pb-2 {
    padding-bottom: calc(.25rem*2);
}

.pb-3 {
    padding-bottom: calc(.25rem*3);
}

.pb-4 {
    padding-bottom: calc(.25rem*4);
}

.pb-5 {
    padding-bottom: calc(.25rem*5);
}

.pb-6 {
    padding-bottom: calc(.25rem*6);
}

.pb-7 {
    padding-bottom: calc(.25rem*7);
}

.pb-8 {
    padding-bottom: calc(.25rem*8);
}

.pb-9 {
    padding-bottom: calc(.25rem*9);
}

.pb-10 {
    padding-bottom: calc(.25rem*10);
}

.pb-11 {
    padding-bottom: calc(.25rem*11);
}

.pb-12 {
    padding-bottom: calc(.25rem*12);
}

.pb-16 {
    padding-bottom: calc(.25rem*16);
}

.pb-24 {
    padding-bottom: calc(.25rem*24);
}

/* Padding Left */

.important-pl-0 {
    padding-left: 0 !important;
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: calc(.25rem*1);
}

.pl-2 {
    padding-left: calc(.25rem*2);
}

.pl-3 {
    padding-left: calc(.25rem*3);
}

.pl-4 {
    padding-left: calc(.25rem*4);
}

.pl-5 {
    padding-left: calc(.25rem*5);
}

.pl-6 {
    padding-left: calc(.25rem*6);
}

.pl-7 {
    padding-left: calc(.25rem*7);
}

.pl-8 {
    padding-left: calc(.25rem*8);
}

.pl-9 {
    padding-left: calc(.25rem*9);
}

.pl-10 {
    padding-left: calc(.25rem*10);
}

.pl-11 {
    padding-left: calc(.25rem*11);
}

.pl-12 {
    padding-left: calc(.25rem*12);
}

/* Padding Inline */

.important-px-0 {
    padding-inline: 0 !important;
}

.px-0 {
    padding-inline: 0;
}

.px-1 {
    padding-inline: calc(.25rem*1);
}

.px-2 {
    padding-inline: calc(.25rem*2);
}

.px-3 {
    padding-inline: calc(.25rem*3);
}

.px-4 {
    padding-inline: calc(.25rem*4);
}

.px-5 {
    padding-inline: calc(.25rem*5);
}

.px-6 {
    padding-inline: calc(.25rem*6);
}

.px-7 {
    padding-inline: calc(.25rem*7);
}

.px-8 {
    padding-inline: calc(.25rem*8);
}

.px-9 {
    padding-inline: calc(.25rem*9);
}

.px-10 {
    padding-inline: calc(.25rem*10);
}

.px-11 {
    padding-inline: calc(.25rem*11);
}

.px-12 {
    padding-inline: calc(.25rem*12);
}

/* Padding Block */

.important-py-0 {
    padding-block: 0 !important;
}

.py-0 {
    padding-block: 0;
}

.py-1 {
    padding-block: calc(.25rem*1);
}

.py-2 {
    padding-block: calc(.25rem*2);
}

.py-3 {
    padding-block: calc(.25rem*3);
}

.py-4 {
    padding-block: calc(.25rem*4);
}

.py-5 {
    padding-block: calc(.25rem*5);
}

.py-6 {
    padding-block: calc(.25rem*6);
}

.py-7 {
    padding-block: calc(.25rem*7);
}

.py-8 {
    padding-block: calc(.25rem*8);
}

.py-9 {
    padding-block: calc(.25rem*9);
}

.py-10 {
    padding-block: calc(.25rem*10);
}

.py-11 {
    padding-block: calc(.25rem*11);
}

.py-12 {
    padding-block: calc(.25rem*12);
}

.py-16 {
    padding-block: calc(.25rem*16);
}
.py-20 {
    padding-block: calc(.25rem*20);
}
.py-22 {
    padding-block: calc(.25rem*22);
}
.py-24 {
    padding-block: calc(.25rem*24);
}
.py-25 {
    padding-block: calc(.25rem*25);
}


/* ---------- Margin Classes ---------- */

/* Margin Top */

.important-mt-0 {
    margin-top: 0 !important;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: calc(.25rem*1);
}

.mt-2 {
    margin-top: calc(.25rem*2);
}

.mt-3 {
    margin-top: calc(.25rem*3);
}

.mt-4 {
    margin-top: calc(.25rem*4);
}

.mt-5 {
    margin-top: calc(.25rem*5);
}

.mt-6 {
    margin-top: calc(.25rem*6);
}

.mt-7 {
    margin-top: calc(.25rem*7);
}

.mt-8 {
    margin-top: calc(.25rem*8);
}

.mt-9 {
    margin-top: calc(.25rem*9);
}

.mt-10 {
    margin-top: calc(.25rem*10);
}

.mt-11 {
    margin-top: calc(.25rem*11);
}

.mt-12 {
    margin-top: calc(.25rem*12);
}

/* Margin Right */

.important-mr-0 {
    margin-right: 0 !important;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: calc(.25rem*1);
}

.mr-2 {
    margin-right: calc(.25rem*2);
}

.mr-3 {
    margin-right: calc(.25rem*3);
}

.mr-4 {
    margin-right: calc(.25rem*4);
}

.mr-5 {
    margin-right: calc(.25rem*5);
}

.mr-6 {
    margin-right: calc(.25rem*6);
}

.mr-7 {
    margin-right: calc(.25rem*7);
}

.mr-8 {
    margin-right: calc(.25rem*8);
}

.mr-9 {
    margin-right: calc(.25rem*9);
}

.mr-10 {
    margin-right: calc(.25rem*10);
}

.mr-11 {
    margin-right: calc(.25rem*11);
}

.mr-12 {
    margin-right: calc(.25rem*12);
}

/* Margin Bottom */

.important-mb-0 {
    margin-bottom: 0 !important;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: calc(.25rem*1);
}

.mb-1 {
    margin-bottom: calc(.25rem*1);
}

.mb-2 {
    margin-bottom: calc(.25rem*2);
}

.mb-3 {
    margin-bottom: calc(.25rem*3);
}

.mb-4 {
    margin-bottom: calc(.25rem*4);
}

.mb-5 {
    margin-bottom: calc(.25rem*5);
}

.mb-6 {
    margin-bottom: calc(.25rem*6);
}

.mb-7 {
    margin-bottom: calc(.25rem*7);
}

.mb-8 {
    margin-bottom: calc(.25rem*8);
}

.mb-9 {
    margin-bottom: calc(.25rem*9);
}

.mb-10 {
    margin-bottom: calc(.25rem*10);
}

.mb-11 {
    margin-bottom: calc(.25rem*11);
}

.mb-12 {
    margin-bottom: calc(.25rem*12);
}

.mb-16 {
    margin-bottom: calc(.25rem*16);
}

/* Margin Left */

.important-ml-0 {
    margin-left: 0 !important;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: calc(.25rem*1);
}

.ml-2 {
    margin-left: calc(.25rem*2);
}

.ml-3 {
    margin-left: calc(.25rem*3);
}

.ml-4 {
    margin-left: calc(.25rem*4);
}

.ml-5 {
    margin-left: calc(.25rem*5);
}

.ml-6 {
    margin-left: calc(.26rem*5);
}

.ml-7 {
    margin-left: calc(.25rem*7);
}

.ml-8 {
    margin-left: calc(.25rem*8);
}

.ml-9 {
    margin-left: calc(.25rem*9);
}

.ml-10 {
    margin-left: calc(.25rem*10);
}

.ml-11 {
    margin-left: calc(.25rem*11);
}

.ml-12 {
    margin-left: calc(.25rem*12);
}


/* Margin Inline */
.mt-auto {
    margin-top: auto;
}

.mx-1 {
    margin-inline: .25rem;
}

.mx-auto {
    margin-inline: auto;
}



/*-------------- Small Screens - sm --------------*/
/*-------------- 640px and above --------------*/

@media (min-width: 640px) {

    .sm-p-6 {
        padding: calc(.25rem*6);
    }

    .sm-px-6 {
        padding-inline: calc(.25rem*6);
    }

    .sm-px-8 {
        padding-inline: calc(.25rem*8);
    }

    .sm-py-4{
        padding-block: calc(.25rem*4);
    }

}


/*-------------- Medium Screens - md --------------*/
/*-------------- 768px and above --------------*/
@media (min-width: 768px) {
    .md-important-pl-0 {
        padding-left: 0 !important;
    }

    .md-important-pr-0 {
        padding-right: 0 !important;
    }

    .md-important-pb-0 {
        padding-bottom: 0 !important;
    }

    .md-mb-0{
        margin-bottom: 0;
    }

    .md-p-3 {
        padding: calc(.25rem*3);
    }

    .md-p-6 {
        padding: calc(.25rem*6);
    }

    .md-p-8 {
        padding: calc(.25rem*8);
    }


    .md-py-0 {
        padding-block: calc(.25rem*0);
    }

    .md-px-2 {
        padding-inline: calc(.25rem*2);
    }

    .md-px-3 {
        padding-inline: calc(.25rem*3);
    }

    .md-px-4 {
        padding-inline: calc(.25rem*4);
    }

    .md-py-105 {
        padding-block: calc(.25rem*1.5);
    }

    .md-py-2 {
        padding-block: calc(.25rem*2);
    }

    .md-py-24 {
        padding-block: calc(.25rem*24);
    }

    /* .md-py-24 */



    .md-mr-4 {
        margin-right: calc(.25rem*4);
    }

    .md-mr-16 {
        margin-right: calc(.25rem*16);
    }

    .md-mb-8 {
        margin-bottom: calc(.25rem*8);
    }

    .md-mb-10 {
        margin-bottom: calc(.25rem*10);
    }


    .md-mb-6 {
        margin-bottom: calc(.25rem*6);
    }

    .md-mb-16 {
        margin-bottom: calc(.25rem*16);
    }
}


/*-------------- Large Screens - lg --------------*/
/*-------------- 1024px and above --------------*/
@media (min-width: 1024px) {

    .lg-pt-0 {
        padding-top: 0;
    }

    .lg-pb-0 {
        padding-bottom: 0;
    }

    .lg-important-pb-0 {
        padding-bottom: 0 !important;
    }

    .lg-pr-4 {
        padding-right: calc(.25rem*4);
    }

    .lg-pr-8 {
        padding-right: calc(.25rem*8);
    }

    .lg-pr-9 {
        padding-right: calc(.25rem*9);
    }

    .lg-pr-10 {
        padding-right: calc(.25rem*10);
    }

    .lg-pr-11 {
        padding-right: calc(.25rem*11);
    }

    .lg-pr-11 {
        padding-right: calc(.25rem*11);
    }

    .lg-pl-4 {
        padding-left: calc(.25rem*4);
    }

    .lg-pl-8 {
        padding-left: calc(.25rem*8);
    }

    .lg-pl-9 {
        padding-left: calc(.25rem*9);
    }

    .lg-pl-10 {
        padding-left: calc(.25rem*10);
    }

    .lg-pl-11 {
        padding-left: calc(.25rem*11);
    }

    .lg-pl-12 {
        padding-left: calc(.25rem*12);
    }

    .lg-mx-0 {
        margin-inline: 0;
    }

    .lg-mb-0 {
        margin-bottom: 0;
    }


}

/*-------------- Extra Large Screens - xl --------------*/
/*-------------- 1280px and above --------------*/
@media (min-width: 1280px) {

    .xl-p-6 {
        padding: calc(.25rem*6);
    }


    .xl-pt-0 {
        padding-top: 0;
    }


    .xl-pb-0 {
        padding-bottom: 0;
    }

    .xl-pr-4 {
        padding-right: calc(.25rem*4);
    }

    .xl-pr-8 {
        padding-right: calc(.25rem*8);
    }

    .xl-pr-9 {
        padding-right: calc(.25rem*9);
    }

    .xl-pr-10 {
        padding-right: calc(.25rem*10);
    }

    .xl-pr-11 {
        padding-right: calc(.25rem*11);
    }

    .xl-pr-11 {
        padding-right: calc(.25rem*11);
    }

    .xl-pl-4 {
        padding-left: calc(.25rem*4);
    }

    .xl-pl-8 {
        padding-left: calc(.25rem*8);
    }

    .xl-pl-9 {
        padding-left: calc(.25rem*9);
    }

    .xl-pl-10 {
        padding-left: calc(.25rem*10);
    }

    .xl-pl-11 {
        padding-left: calc(.25rem*11);
    }

    .xl-pl-12 {
        padding-left: calc(.25rem*12);
    }

    .xl-px-4 {
        padding-block: calc(.25rem*4);
    }

    .xl-mr-4 {
        margin-right: calc(.25rem*4);
    }

    .xl-mr-64 {
        margin-right: calc(.25rem*64);
    }

    .xl-mb-0 {
        margin-bottom: 0;
    }

}


/*==================================================
    GAP UTILITIES
==================================================*/

.gap-0 {
    gap: 0;
}

.gap-px {
    gap: 1px;
}

.gap-0-5 {
    gap: 0.125rem;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-1-5 {
    gap: 0.375rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-2-5 {
    gap: 0.625rem;
}

.gap-3 {
    gap: 0.75rem;
}

.gap-3-5 {
    gap: 0.875rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-5 {
    gap: 1.25rem;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-7 {
    gap: 1.75rem;
}

.gap-8 {
    gap: 2rem;
}

.gap-9 {
    gap: 2.25rem;
}

.gap-10 {
    gap: 2.5rem;
}

.gap-11 {
    gap: 2.75rem;
}

.gap-12 {
    gap: 3rem;
}

.gap-14 {
    gap: 3.5rem;
}

.gap-16 {
    gap: 4rem;
}

.gap-20 {
    gap: 5rem;
}

.gap-24 {
    gap: 6rem;
}

.gap-28 {
    gap: 7rem;
}

.gap-32 {
    gap: 8rem;
}

.gap-36 {
    gap: 9rem;
}

.gap-40 {
    gap: 10rem;
}

.gap-44 {
    gap: 11rem;
}

.gap-48 {
    gap: 12rem;
}

.gap-52 {
    gap: 13rem;
}

.gap-56 {
    gap: 14rem;
}

.gap-60 {
    gap: 15rem;
}

.gap-64 {
    gap: 16rem;
}

.gap-72 {
    gap: 18rem;
}

.gap-80 {
    gap: 20rem;
}

.gap-96 {
    gap: 24rem;
}


/*-------------- Small Screens - sm --------------*/
/*-------------- 640px and above --------------*/

@media (min-width: 640px) {

    .sm-gap-0 {
        gap: 0;
    }

    .sm-gap-px {
        gap: 1px;
    }

    .sm-gap-0-5 {
        gap: 0.125rem;
    }

    .sm-gap-1 {
        gap: 0.25rem;
    }

    .sm-gap-1-5 {
        gap: 0.375rem;
    }

    .sm-gap-2 {
        gap: 0.5rem;
    }

    .sm-gap-2-5 {
        gap: 0.625rem;
    }

    .sm-gap-3 {
        gap: 0.75rem;
    }

    .sm-gap-3-5 {
        gap: 0.875rem;
    }

    .sm-gap-4 {
        gap: 1rem;
    }

    .sm-gap-5 {
        gap: 1.25rem;
    }

    .sm-gap-6 {
        gap: 1.5rem;
    }

    .sm-gap-7 {
        gap: 1.75rem;
    }

    .sm-gap-8 {
        gap: 2rem;
    }

    .sm-gap-9 {
        gap: 2.25rem;
    }

    .sm-gap-10 {
        gap: 2.5rem;
    }

    .sm-gap-11 {
        gap: 2.75rem;
    }

    .sm-gap-12 {
        gap: 3rem;
    }

    .sm-gap-14 {
        gap: 3.5rem;
    }

    .sm-gap-16 {
        gap: 4rem;
    }

    .sm-gap-20 {
        gap: 5rem;
    }

    .sm-gap-24 {
        gap: 6rem;
    }

    .sm-gap-28 {
        gap: 7rem;
    }

    .sm-gap-32 {
        gap: 8rem;
    }

    .sm-gap-36 {
        gap: 9rem;
    }

    .sm-gap-40 {
        gap: 10rem;
    }

    .sm-gap-44 {
        gap: 11rem;
    }

    .sm-gap-48 {
        gap: 12rem;
    }

    .sm-gap-52 {
        gap: 13rem;
    }

    .sm-gap-56 {
        gap: 14rem;
    }

    .sm-gap-60 {
        gap: 15rem;
    }

    .sm-gap-64 {
        gap: 16rem;
    }

    .sm-gap-72 {
        gap: 18rem;
    }

    .sm-gap-80 {
        gap: 20rem;
    }

    .sm-gap-96 {
        gap: 24rem;
    }
}


/*-------------- Medium Screens - md --------------*/
/*-------------- 768px and above --------------*/

@media (min-width: 768px) {

    .md-gap-0 {
        gap: 0;
    }

    .md-gap-px {
        gap: 1px;
    }

    .md-gap-0-5 {
        gap: 0.125rem;
    }

    .md-gap-1 {
        gap: 0.25rem;
    }

    .md-gap-1-5 {
        gap: 0.375rem;
    }

    .md-gap-2 {
        gap: 0.5rem;
    }

    .md-gap-2-5 {
        gap: 0.625rem;
    }

    .md-gap-3 {
        gap: 0.75rem;
    }

    .md-gap-3-5 {
        gap: 0.875rem;
    }

    .md-gap-4 {
        gap: 1rem;
    }

    .md-gap-5 {
        gap: 1.25rem;
    }

    .md-gap-6 {
        gap: 1.5rem;
    }

    .md-gap-7 {
        gap: 1.75rem;
    }

    .md-gap-8 {
        gap: 2rem;
    }

    .md-gap-9 {
        gap: 2.25rem;
    }

    .md-gap-10 {
        gap: 2.5rem;
    }

    .md-gap-11 {
        gap: 2.75rem;
    }

    .md-gap-12 {
        gap: 3rem;
    }

    .md-gap-14 {
        gap: 3.5rem;
    }

    .md-gap-16 {
        gap: 4rem;
    }

    .md-gap-20 {
        gap: 5rem;
    }

    .md-gap-24 {
        gap: 6rem;
    }

    .md-gap-28 {
        gap: 7rem;
    }

    .md-gap-32 {
        gap: 8rem;
    }

    .md-gap-36 {
        gap: 9rem;
    }

    .md-gap-40 {
        gap: 10rem;
    }

    .md-gap-44 {
        gap: 11rem;
    }

    .md-gap-48 {
        gap: 12rem;
    }

    .md-gap-52 {
        gap: 13rem;
    }

    .md-gap-56 {
        gap: 14rem;
    }

    .md-gap-60 {
        gap: 15rem;
    }

    .md-gap-64 {
        gap: 16rem;
    }

    .md-gap-72 {
        gap: 18rem;
    }

    .md-gap-80 {
        gap: 20rem;
    }

    .md-gap-96 {
        gap: 24rem;
    }
}


/*-------------- Large Screens - lg --------------*/
/*-------------- 1024px and above --------------*/

@media (min-width: 1024px) {

    .lg-gap-0 {
        gap: 0;
    }

    .lg-gap-px {
        gap: 1px;
    }

    .lg-gap-0-5 {
        gap: 0.125rem;
    }

    .lg-gap-1 {
        gap: 0.25rem;
    }

    .lg-gap-1-5 {
        gap: 0.375rem;
    }

    .lg-gap-2 {
        gap: 0.5rem;
    }

    .lg-gap-2-5 {
        gap: 0.625rem;
    }

    .lg-gap-3 {
        gap: 0.75rem;
    }

    .lg-gap-3-5 {
        gap: 0.875rem;
    }

    .lg-gap-4 {
        gap: 1rem;
    }

    .lg-gap-5 {
        gap: 1.25rem;
    }

    .lg-gap-6 {
        gap: 1.5rem;
    }

    .lg-gap-7 {
        gap: 1.75rem;
    }

    .lg-gap-8 {
        gap: 2rem;
    }

    .lg-gap-9 {
        gap: 2.25rem;
    }

    .lg-gap-10 {
        gap: 2.5rem;
    }

    .lg-gap-11 {
        gap: 2.75rem;
    }

    .lg-gap-12 {
        gap: 3rem;
    }

    .lg-gap-14 {
        gap: 3.5rem;
    }

    .lg-gap-16 {
        gap: 4rem;
    }

    .lg-gap-20 {
        gap: 5rem;
    }

    .lg-gap-24 {
        gap: 6rem;
    }

    .lg-gap-28 {
        gap: 7rem;
    }

    .lg-gap-32 {
        gap: 8rem;
    }

    .lg-gap-36 {
        gap: 9rem;
    }

    .lg-gap-40 {
        gap: 10rem;
    }

    .lg-gap-44 {
        gap: 11rem;
    }

    .lg-gap-48 {
        gap: 12rem;
    }

    .lg-gap-52 {
        gap: 13rem;
    }

    .lg-gap-56 {
        gap: 14rem;
    }

    .lg-gap-60 {
        gap: 15rem;
    }

    .lg-gap-64 {
        gap: 16rem;
    }

    .lg-gap-72 {
        gap: 18rem;
    }

    .lg-gap-80 {
        gap: 20rem;
    }

    .lg-gap-96 {
        gap: 24rem;
    }
}

/*-------------- Extra Large Screens - xl --------------*/
/*-------------- 1280px and above --------------*/

@media (min-width: 1280px) {

    .xl-gap-0 {
        gap: 0;
    }

    .xl-gap-px {
        gap: 1px;
    }

    .xl-gap-0-5 {
        gap: 0.125rem;
    }

    .xl-gap-1 {
        gap: 0.25rem;
    }

    .xl-gap-1-5 {
        gap: 0.375rem;
    }

    .xl-gap-2 {
        gap: 0.5rem;
    }

    .xl-gap-2-5 {
        gap: 0.625rem;
    }

    .xl-gap-3 {
        gap: 0.75rem;
    }

    .xl-gap-3-5 {
        gap: 0.875rem;
    }

    .xl-gap-4 {
        gap: 1rem;
    }

    .xl-gap-5 {
        gap: 1.25rem;
    }

    .xl-gap-6 {
        gap: 1.5rem;
    }

    .xl-gap-7 {
        gap: 1.75rem;
    }

    .xl-gap-8 {
        gap: 2rem;
    }

    .xl-gap-9 {
        gap: 2.25rem;
    }

    .xl-gap-10 {
        gap: 2.5rem;
    }

    .xl-gap-11 {
        gap: 2.75rem;
    }

    .xl-gap-12 {
        gap: 3rem;
    }

    .xl-gap-14 {
        gap: 3.5rem;
    }

    .xl-gap-16 {
        gap: 4rem;
    }

    .xl-gap-20 {
        gap: 5rem;
    }

    .xl-gap-24 {
        gap: 6rem;
    }

    .xl-gap-28 {
        gap: 7rem;
    }

    .xl-gap-32 {
        gap: 8rem;
    }

    .xl-gap-36 {
        gap: 9rem;
    }

    .xl-gap-40 {
        gap: 10rem;
    }

    .xl-gap-44 {
        gap: 11rem;
    }

    .xl-gap-48 {
        gap: 12rem;
    }

    .xl-gap-52 {
        gap: 13rem;
    }

    .xl-gap-56 {
        gap: 14rem;
    }

    .xl-gap-60 {
        gap: 15rem;
    }

    .xl-gap-64 {
        gap: 16rem;
    }

    .xl-gap-72 {
        gap: 18rem;
    }

    .xl-gap-80 {
        gap: 20rem;
    }

    .xl-gap-96 {
        gap: 24rem;
    }
}

/*-------------- 2X Large Screens - 2xl --------------*/
/*-------------- 1536px and above --------------*/

@media (min-width: 1536px) {

    .xxl-gap-0 {
        gap: 0;
    }

    .xxl-gap-px {
        gap: 1px;
    }

    .xxl-gap-0-5 {
        gap: 0.125rem;
    }

    .xxl-gap-1 {
        gap: 0.25rem;
    }

    .xxl-gap-1-5 {
        gap: 0.375rem;
    }

    .xxl-gap-2 {
        gap: 0.5rem;
    }

    .xxl-gap-2-5 {
        gap: 0.625rem;
    }

    .xxl-gap-3 {
        gap: 0.75rem;
    }

    .xxl-gap-3-5 {
        gap: 0.875rem;
    }

    .xxl-gap-4 {
        gap: 1rem;
    }

    .xxl-gap-5 {
        gap: 1.25rem;
    }

    .xxl-gap-6 {
        gap: 1.5rem;
    }

    .xxl-gap-7 {
        gap: 1.75rem;
    }

    .xxl-gap-8 {
        gap: 2rem;
    }

    .xxl-gap-9 {
        gap: 2.25rem;
    }

    .xxl-gap-10 {
        gap: 2.5rem;
    }

    .xxl-gap-11 {
        gap: 2.75rem;
    }

    .xxl-gap-12 {
        gap: 3rem;
    }

    .xxl-gap-14 {
        gap: 3.5rem;
    }

    .xxl-gap-16 {
        gap: 4rem;
    }

    .xxl-gap-20 {
        gap: 5rem;
    }

    .xxl-gap-24 {
        gap: 6rem;
    }

    .xxl-gap-28 {
        gap: 7rem;
    }

    .xxl-gap-32 {
        gap: 8rem;
    }

    .xxl-gap-36 {
        gap: 9rem;
    }

    .xxl-gap-40 {
        gap: 10rem;
    }

    .xxl-gap-44 {
        gap: 11rem;
    }

    .xxl-gap-48 {
        gap: 12rem;
    }

    .xxl-gap-52 {
        gap: 13rem;
    }

    .xxl-gap-56 {
        gap: 14rem;
    }

    .xxl-gap-60 {
        gap: 15rem;
    }

    .xxl-gap-64 {
        gap: 16rem;
    }

    .xxl-gap-72 {
        gap: 18rem;
    }

    .xxl-gap-80 {
        gap: 20rem;
    }

    .xxl-gap-96 {
        gap: 24rem;
    }
}